<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta property="qc:admin" content="10706312541625340136727"/>
    <title>Annotate Pictures</title>
    <link rel="shortcut icon" href="">
    <link rel="icon" href="">
    <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
{#    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    <script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"><\/script>')</script>

{#    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>#}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.json.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    {% block extra_js %}{% endblock %}
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <style type="text/css">
    html,body{
        height: 100%;
    }
 #wrap {
     min-height: 80%;
     height: auto !important;
     height: 80%;
     margin: 0 auto -60px;
 }
    </style>

    {% block extra_css %}

    {% endblock %}
</head>
<body>
<div class="content">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container studentid" id="{{ user.username }}">
                <a class="brand pull-left" href="/">首页</a>
                {% block extrea_menu %}{% endblock %}
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">语言
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu" style="min-width: 50px">
                                <li><a href="/zh_cn">中文</a></li>
                                <li><a href="/us_cn">英文</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">说明
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu" style="min-width: 60px">
                                    <li><a href="/project">项目说明</a></li>
                                    <li><a href="/annotation/instruct">标注说明</a></li>
                                    <li><a href="/search/instruct">检索说明</a></li>
                                    <li><a href="">推荐说明</a></li>
                                    <li><a href="">分析说明</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">欢迎!
                                {% if user.is_authenticated %}
                                    {{ user.username }}
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu" style="min-width: 50px">
                                        <li><a href="/user/profile">个人资料</a></li>
                                        <li><a href="/logout">注销</a></li>
                                    </ul>
                                {% else %}
                                    游客
                                    <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/login">登录</a></li>
                                    </ul>
                                {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wrap">
{% block content %}
{% endblock %}
</div>
<div id="footer">
      <div class="container">
       <a href="https://www.upyun.com/" class="pull-right"><img src="http://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN"></a>
      </div>
</div>

</body>
</html>