{% extends "home.html" %}
{% block content %}
    <div class="content-fluid">
    <div class="row-fluid">
    <div class="span10">
        <p  class="text">
    欢迎来到justpic图像标注系统
    为了更好的使用该系统，请阅读以下功能说明
       <h4>标注功能说明</h4>
        <hr>
       <h5>标注方式1说明</h5>
          标注方式1采用缩略图标注，在图框中与顶端标注词相关

       <h5>标注方式2说明</h5>
          标注方式2采用对原图进行评分，对于每幅图片和对应的关键词进行评分，共有五个等级，一个星代表1分，分数越高，认为图片与关键词越相关

       <h5>标注方式3说明</h5>
          标注方式3采用对对碰的形式对图片进行标注

       <h5>标注方式4说明</h5>
          标注方式4采用一图对多词进行标注，对于出现的每张图片会出现若干关键词，用户从中选择与图片相关的关键词。

    （注：除在特别说明下，用户可以选择上面的任何一种方式对图片进行标注）
    <p>检索功能说明</p>

    <p>推荐功能说明</p>

    <p>分析功能说明</p>

    谢谢！
        </p>
        </div>
    </div>
    </div>
{% endblock %}