<html>
<head>
</head>
<body>
<p id=text size=100 style="width:100%"></p>
	<p><img id="img1" height="556px" width="656px" src="/media/pictures/example.jpg"/></p>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/raphael.js"></script>
<script>
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

$(document).ready(function(){
	$.ajax({
		type:"GET",
		url:"/media/Annotation/example.xml",
		dataType:"xml",
		success:parsXMLDocument
		});
	});
function storeCoordinate(xVal,yVal,arry)
{
	arry.push({x:xVal,y:yVal});
}

$(document).ready(function(){
	alert('ok');
drawInit();
});	
function storeObjects(posVal,nameVal,array)
{
	array.push({pos:posVal,name:nameVal});
}
var xmlAnno;
var objArray=[];
function parsXMLDocument(xmlDoc){
	xmlAnno=xmlDoc;
	var i=0;
  $(xmlDoc).find('object').each(function()
  {
  	var pos=[];
  	var name=$(this).children('name').text();
  	$('#output').append("name:"+$(this).children('name').text()+"<br/>");
  	$(this).find("pt").each(function()
		{
		$('#output').append("x: "+$(this).children("x").text()+"<br/>");
		$('#output').append("y: "+$(this).children("y").text()+"<br/>");
		 var xVal = $(this).children("x").text();
		 var yVal = $(this).children("y").text();
     storeCoordinate(xVal,yVal,pos);
		});	
		storeObjects(pos,name,objArray);
		$('#output').append("<br/>");
  });
	}
function jax(){
	$.post("/annotation/process",function(data)
		{
			alert(data);
		});
	};
	
// Set up some objects on a Raphael drawing surface
var top=document.getElementById('img1').offsetTop;
var left=document.getElementById('img1').offsetLeft;
var draw; 
var path=[];
var i=0;
// This function sets the path from the input text
draw = Raphael(0, 0, 1000, 1000);
// Event handlers: do things on keyup, click, double-click

function drawInit()
{
	var trace;
	for(var k=0;k<objArray.length;k++)
	{
		trace='M ';
		for(j=0;j<objArray[k].pos.length;j++)
		{			
			var x=objArray[k].pos[j].x;
			trace+=' ';
		  trace+=x;
		  trace+=' ';
		  var y=objArray[k].pos[j].y;
		  trace+=y;
		}
		trace+=' Z';
  path[i] = draw.path();
	path[i].attr({stroke: 'black', 'stroke-width': 5, fill: '#4040FF',"opacity": '0.5'});
	path[i].attr({path: trace});
	i++;
	}
}

$('body').click(function(event) {
  var x = event.pageX;
  var y = event.pageY;
  if( x>656||x>556)
  return;
  var oldpath = $('#text').val();
  if (!oldpath.match(/M/))
  {
 	path[i] = draw.path();
	path[i].attr({stroke: 'black', 'stroke-width': 5, fill: '#4040FF',"opacity": '0.5'});
  }
  if (!oldpath.match(/M/) || oldpath.match(/Z/)) {
    $('#text').val('M ' + x + ' ' + y);
  } else {
    $('#text').val(oldpath + ' ' + x + ' ' + y);
  }
  path[i].attr({path: $('#text').val()});
});

$('body').dblclick(function(event) {
	var x=event.pageX;
	var y=event.pageY;
	  if( x>656||x>556)
  return;
  var oldpath = $('#text').val();
  $('#text').val(oldpath + ' Z');
  name=prompt( "input the name of object:"); 
  path[i].attr({path: $('#text').val()});
  var para=$('#text').val();
  para+=" ";
  para+=name;
  i++;
  alert(para);
  $('#text').val('');
  SendXML();
});
function SendXML()
{	
	var str='<?xml version="1.0" encoding="UTF-8"?><annotation></annotation>';
//	var response={name:"caohai",picids:"1"}
//	json_log=JSON.stringify(response)
//	$.post('/annotation/LableMeAnnotation',json_log,
//	function(data){alert(data);});
	$.ajax({
		url:"/annotation/LableMeAnnotation",
		processData:true,
		type:"POST",
		data:str,
		success:function(response){
			alert(response);},
		error:function(response){
			alert('error:'+response);
			}
		});
}

// stopPropagation keeps clicks on text from propagating up to <body>
$('#text').click(function(event) { event.stopPropagation(); });
$('#text').dblclick(function(event) { event.stopPropagation(); });
</script>
<p id=output></p>
</body>
</html>