{% extends "base.html" %}
{% block extra_css %}<link href="{{ STATIC_URL }}css/user.css" rel="stylesheet">{% endblock %}
{% block content %}
    <h1>唯图</h1>
<hr/>
<form action='/loginprocess' method='post' class="form">
    <H1><STRONG>用户登录</STRONG></H1>
    {% if form.has_errors %}
        <p>用户名或密码错误，请重试！</p>
    {% endif %}

    <p><label for="studentid"><strong>用户名:</strong></label>
        <input type="text" name="studentid" title=请输入您的用户名 value="" id="studentid"></p>
    <p><label for="password"><strong>密码:</strong></label>
        <input type="hidden" name="next" value="/5k"/>
        <input type="password" name="password" value="" id="password"></p>
    <p class=submit>
        <input type="submit" value="登录"/>
        <input type="button" value="注册" onclick="register()"/>
        <label>使用 <a>百度</a> <a>微博</a> <a>Instagram</a> 登录
            <a href="/forgot" class="pull-right">忘记密码</a>
        </label>

    </p>
    <script language="javascript">
        function register() {
            location.href = "/registration";
        }
    </script>
</form>
    <p>推荐使用Chrome浏览器</p>
{% endblock %}