{% extends "home.html" %}
{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
{% endblock %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid" id="picpanel">
        <div class="row-fluid picindex" id="{{ picindex }}">
                <div class="row-fluid">
                    <div class="span4 studentid pull-left" id="{{ user }}">
                        <h1 class="keyinfo" id="{{ keyid }}">
                            {{ keyword }}
                        </h1>
                    </div>
                    <div class="span7"></div>

                </div>
                <hr>
        </div>

        <div class="row-fluid">
            <div class="span11" id="thumbnail">
                <ul class="thumbnails grid" id="pictures">
                    {% for picture in picture_list %}
                        <li id="{{ picture.id }}" class="">
{#                            <img src="{{ MEDIA_URL }}{{ picture.src }}" class="img-polaroid">#}
                              <img src="{{ picture.src }}" class="img-polaroid">
                        </li>
                    {% endfor %}
                </ul>
                <a class="btn-small">上一页</a>
                <a class="btn-small">下一页</a>
            </div>
            <div class="span1 pull-right">
                <a class="btn-small pull-left">积分榜</a>

            </div>
        </div>
    </div>

    <div id="fixLayout">
        <button class="btn-large btn-primary" id="taging">换一组</button>
    </div>
{% endblock %}
