{% extends "base.html" %}
{% block extra_css %}<link href="{{ STATIC_URL }}css/register.css" rel="stylesheet">{% endblock %}
<H1><STRONG>用户注册</STRONG></H1>
{% block content %}
<h1>唯图</h1>
<hr/>
	<form action="" method="post" class="form">
        <h1><strong>注册用户</strong></h1>
		{% csrf_token %}
		{{ form.as_p }}
		<p>
            <input type="submit" value="注册">
            <input type="button" value="返回" onclick="home()"/>
        </p>
    <script language="javascript">
        function home() {
            location.href = "/";
        }
    </script>
	</form>
{% endblock %}
